@import "tailwindcss";
@import "tailwindcss/preflight";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Your custom CSS */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #fffbeb;
}
::-webkit-scrollbar-thumb {
	background: #fbbf24;
	border-radius: 20px;
	border: 3px solid #fffbeb;
}
